# Column Transformer 


## Columntransformer allows you to apply your transformers to the columns you have selected.

In [41]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDClassifier
import seaborn as sns

In [42]:
titanic=sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [43]:
y=titanic['survived']
x=titanic.drop('survived',axis=1)

# StandardScaler on the columns selected 

### We have decided to apply the transformations only to the “age” column and the “price” column.

In [44]:
from sklearn.compose import make_column_transformer
transformer=make_column_transformer((StandardScaler(),['age','fare']))

###  We can see the new scaling as follow.

In [45]:
transformer.fit_transform(x)

array([[-0.53037664, -0.50244517],
       [ 0.57183099,  0.78684529],
       [-0.25482473, -0.48885426],
       ...,
       [        nan, -0.17626324],
       [-0.25482473, -0.04438104],
       [ 0.15850313, -0.49237783]])

# Categorical and Numerical Pipeline in series

In [143]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder , Binarizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.impute import SimpleImputer
import seaborn as sns

In [144]:
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [145]:
y = titanic['survived']
X = titanic.drop('survived', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)


## Method 1 : We choose our columns

In [146]:
numerical_features = ['pclass', 'age', 'fare']
categorical_features = ['sex', 'deck', 'alone']


### Create a pipeline for categorical functionalities 
### Create pipeline for numerical functionalities

In [150]:
numerical_pipeline = make_pipeline(SimpleImputer(missing_values=np.nan,strategy='mean'), StandardScaler())
categorical_pipeline = make_pipeline(SimpleImputer(missing_values=np.nan,strategy='most_frequent'), OneHotEncoder())

In [151]:
preprocessor = make_column_transformer((numerical_pipeline, numerical_features),
                                   (categorical_pipeline, categorical_features))

In [152]:

model = make_pipeline(preprocessor, SGDClassifier())

model.fit(X_train, y_train)
model.score(X_test, y_test)

0.7937219730941704

## Method 2 : We use a colomn Selector by type
- make_column_transformer

In [153]:
titanic = sns.load_dataset('titanic')
titanic
y = titanic['survived']
X = titanic.drop('survived', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

###  dtype_include=np.number will choose only numerical columns.
### dtype_exclude=np.number will exclude all numerical columns and so we left with only categorical columns.

In [154]:
from sklearn.compose import make_column_selector


numerical_features =make_column_selector(dtype_include=np.number)
categorical_features = make_column_selector(dtype_exclude=np.number)

In [155]:
preprocessor = make_column_transformer((numerical_pipeline, numerical_features),
                                   (categorical_pipeline, categorical_features))

In [156]:
model = make_pipeline(preprocessor, SGDClassifier())

model.fit(X_train, y_train)
model.score(X_test, y_test)

1.0

# Categorical and Numerical Pipeline in parallel 
# Use Two transformation in one parallel pipeline.
 
- make_union () allows you to create parallel pipelines.
- Results are concatenated at the exit of the transformer.
- One table with de Standard Scaler Transformation and one table with the Binary Transformation .
- Both Transformation method will giving us a table with Age and Fare. 
- We did the transformation in parralel so tables will concatenate.

In [173]:
titanic = sns.load_dataset('titanic')
titanic
y = titanic['survived']
X = titanic.drop('survived', axis=1)

X.dropna(inplace=True)

numerical_features =X[['age', 'fare']]
numerical_features

      age     fare
1    38.0  71.2833
3    35.0  53.1000
6    54.0  51.8625
10    4.0  16.7000
11   58.0  26.5500
..    ...      ...
871  47.0  52.5542
872  33.0   5.0000
879  56.0  83.1583
887  19.0  30.0000
889  26.0  30.0000

[182 rows x 2 columns]

In [174]:
from sklearn.pipeline import make_union

In [178]:
pipeline=make_union(StandardScaler(),Binarizer())

In [179]:
# Both Transformation method gave us a table with age and price.

# We did the transformation in parallel so the tables so here are the two concatenated tables.

# Age, price, age, price

#Two fisrt Age, Fare, with StandardScaler () and the other two with Binarizer ().

pipeline.fit_transform(numerical_features)

array([[ 1.52081957e-01, -1.00110129e-01,  1.00000000e+00,
         1.00000000e+00],
       [-3.98750185e-02, -3.38484771e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.17585249e+00, -3.54707823e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.02343043e+00, -8.15671915e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.43179512e+00, -6.86542977e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.03860677e-01, -8.64177202e-01,  1.00000000e+00,
         1.00000000e+00],
       [-4.87774627e-01, -5.69212621e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.06364555e+00,  2.41320703e+00,  1.00000000e+00,
         1.00000000e+00],
       [ 8.55924198e-01, -2.87169016e-02,  1.00000000e+00,
         1.00000000e+00],
       [ 1.87969473e+00, -2.22082571e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 5.99981565e-01,  5.97174125e-02,  1.00000000e+00,
         1.00000000e+00],
       [-4.23788969e-01, -8.96951044e-01,  1.00000000e+00,
         1.00000000e+00],
       [-6.79731602e-01, -9.34313224e-01,  1.00000000e+00,
         1.00000000e+00],
       [-8.07702919e-01,  2.41320703e+00,  1.00000000e+00,
         1.00000000e+00],
       [ 6.63967223e-01, -2.32625261e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.26360868e+00, -5.80300668e-01,  1.00000000e+00,
         1.00000000e+00],
       [-8.07702919e-01, -2.04003209e-01,  1.00000000e+00,
         1.00000000e+00],
       [-9.35674235e-01, -2.13978472e-02,  1.00000000e+00,
         1.00000000e+00],
       [ 7.27952882e-01, -3.52905262e-01,  1.00000000e+00,
         1.00000000e+00],
       [-7.43717260e-01,  2.21028188e+00,  1.00000000e+00,
         1.00000000e+00],
       [-1.99839164e-01, -8.64177202e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.17585249e+00, -2.13978472e-02,  1.00000000e+00,
         1.00000000e+00],
       [-1.06364555e+00, -6.90039290e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 8.80962982e-02, -3.38484771e-01,  1.00000000e+00,
         1.00000000e+00],
       [-7.43717260e-01,  3.67414220e-03,  1.00000000e+00,
         1.00000000e+00],
       [ 5.61034690e-02, -6.93753222e-01,  1.00000000e+00,
         1.00000000e+00],
       [-8.71688577e-01, -1.61506023e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.62375210e+00, -5.95431695e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.30382381e+00, -6.32193458e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 9.19909857e-01, -6.58193603e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.21538740e+00, -5.23329242e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.08741609e+00, -6.93753222e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 5.35995907e-01, -6.71194331e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.43179512e+00,  8.86218655e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.15140174e+00, -8.97442652e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.80053273e-01, -6.28205537e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.95817652e-01,  4.50381613e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.31831994e-01, -3.44523240e-02,  1.00000000e+00,
         1.00000000e+00],
       [ 1.52081957e-01,  1.45257141e-01,  1.00000000e+00,
         1.00000000e+00],
       [-3.98750185e-02,  5.97174125e-02,  1.00000000e+00,
         1.00000000e+00],
       [ 5.35995907e-01,  1.45257141e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 8.80962982e-02, -3.45639957e-01,  1.00000000e+00,
         1.00000000e+00],
       [-4.23788969e-01, -8.97442652e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.68773776e+00, -6.86542977e-01,  1.00000000e+00,
         1.00000000e+00],
       [-3.59803310e-01,  9.93737617e-02,  1.00000000e+00,
         1.00000000e+00],
       [ 1.04788117e+00,  9.57343382e-03,  1.00000000e+00,
         1.00000000e+00],
       [ 2.80053273e-01, -1.03460118e+00,  1.00000000e+00,
         0.00000000e+00],
       [ 1.43179512e+00,  9.77221128e-01,  1.00000000e+00,
         1.00000000e+00],
       [-3.98750185e-02,  7.43488572e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 8.80962982e-02, -6.45247935e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.75172342e+00, -1.26039698e-02,  1.00000000e+00,
         1.00000000e+00],
       [-1.06364555e+00,  1.59404953e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.41106398e-02, -8.65815894e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.15140174e+00,  9.52149138e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 9.19909857e-01,  2.21028188e+00,  1.00000000e+00,
         1.00000000e+00],
       [-2.22050625e+00,  9.52149138e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.19161687e+00,  3.93027389e-01,  1.00000000e+00,
         1.00000000e+00],
       [-3.59803310e-01, -2.88285733e-01,  1.00000000e+00,
         1.00000000e+00],
       [-7.43717260e-01,  5.55656222e-02,  1.00000000e+00,
         1.00000000e+00],
       [-1.12763121e+00,  2.40501357e+00,  1.00000000e+00,
         1.00000000e+00],
       [-2.95817652e-01,  1.12672491e+00,  1.00000000e+00,
         1.00000000e+00],
       [ 2.80053273e-01,  7.28631534e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.41106398e-02,  7.43488572e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.41106398e-02, -8.64177202e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.25560253e+00, -2.74520719e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 6.31974394e-01, -6.60979380e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.52081957e-01,  9.77221128e-01,  1.00000000e+00,
         1.00000000e+00],
       [-4.23788969e-01, -1.61506023e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 3.44038932e-01,  7.28631534e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.15140174e+00, -6.93753222e-01,  1.00000000e+00,
         1.00000000e+00],
       [-7.43717260e-01,  2.41320703e+00,  1.00000000e+00,
         1.00000000e+00],
       [-7.43717260e-01, -8.64177202e-01,  1.00000000e+00,
         1.00000000e+00],
       [-8.71688577e-01, -3.13576651e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.55976644e+00, -4.81085286e-02,  1.00000000e+00,
         1.00000000e+00],
       [-7.43717260e-01, -1.26110273e-01,  1.00000000e+00,
         1.00000000e+00],
       [-6.79731602e-01, -3.07786169e-01,  1.00000000e+00,
         1.00000000e+00],
       [-5.51760285e-01,  1.73806588e+00,  1.00000000e+00,
         1.00000000e+00],
       [ 2.41106398e-02,  5.38543249e-01,  1.00000000e+00,
         1.00000000e+00],
       [-8.07702919e-01,  4.50381613e-01,  1.00000000e+00,
         1.00000000e+00],
       [-7.43717260e-01, -8.15671915e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.67846335e-01,  1.45257141e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.31831994e-01, -9.29069410e-01,  1.00000000e+00,
         1.00000000e+00],
       [-4.87774627e-01, -6.86542977e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 9.19909857e-01, -3.01778068e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.38357384e+00,  5.38543249e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.81570907e+00,  2.41320703e+00,  1.00000000e+00,
         1.00000000e+00],
       [-2.02343043e+00,  3.85232242e-02,  1.00000000e+00,
         1.00000000e+00],
       [ 1.04788117e+00, -6.34760306e-01,  1.00000000e+00,
         1.00000000e+00],
       [-3.59803310e-01, -6.70811532e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 8.55924198e-01,  1.33513618e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.87969473e+00, -6.86542977e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 7.91938540e-01, -6.86542977e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 7.27952882e-01, -5.29884010e-01,  1.00000000e+00,
         1.00000000e+00],
       [-8.07702919e-01, -8.53798382e-01,  1.00000000e+00,
         1.00000000e+00],
       [-6.79731602e-01,  1.59404953e-01,  1.00000000e+00,
         1.00000000e+00],
       [-3.98750185e-02,  1.45257141e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.43179512e+00, -6.45247935e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.23983815e+00, -6.34760306e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.17585249e+00, -8.56098860e-03,  1.00000000e+00,
         1.00000000e+00],
       [-6.79731602e-01,  9.52149138e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.25560253e+00,  9.93737617e-02,  1.00000000e+00,
         1.00000000e+00],
       [-1.12763121e+00,  3.93027389e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.41106398e-02, -6.89984230e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 7.27952882e-01, -5.88604248e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.03860677e-01, -8.96951044e-01,  1.00000000e+00,
         1.00000000e+00],
       [-3.59803310e-01,  1.91140520e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 5.35995907e-01, -2.74520719e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 5.99981565e-01, -6.86542977e-01,  1.00000000e+00,
         1.00000000e+00],
       [-8.71688577e-01, -3.85679104e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.41106398e-02, -1.03824061e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 9.19909857e-01,  3.60581285e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.19161687e+00,  4.19027533e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 7.91938540e-01, -5.15463520e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.16067615e-01,  9.57343382e-03,  1.00000000e+00,
         1.00000000e+00],
       [ 1.11186683e+00, -3.59732709e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.41106398e-02, -6.88673276e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.16067615e-01, -3.01778068e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.16067615e-01,  4.19027533e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.41106398e-02, -5.08581013e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.12763121e+00,  9.57343382e-03,  1.00000000e+00,
         1.00000000e+00],
       [ 1.55976644e+00,  3.67414220e-03,  1.00000000e+00,
         1.00000000e+00],
       [ 1.04788117e+00, -8.56098860e-03,  1.00000000e+00,
         1.00000000e+00],
       [ 8.55924198e-01, -2.88285733e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.80053273e-01,  9.77221128e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.02343043e+00, -5.23329242e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 4.08024590e-01, -3.45639957e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.62375210e+00, -6.10890461e-01,  1.00000000e+00,
         1.00000000e+00],
       [-9.35674235e-01, -1.26039698e-02,  1.00000000e+00,
         1.00000000e+00],
       [ 2.83947961e+00, -6.41315074e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.31831994e-01, -6.34760306e-01,  1.00000000e+00,
         1.00000000e+00],
       [-7.43717260e-01, -1.26110273e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 7.91938540e-01, -2.87169016e-02,  1.00000000e+00,
         1.00000000e+00],
       [ 1.30382381e+00, -5.69212621e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.43179512e+00,  4.50381613e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 7.27952882e-01, -6.99160906e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.95817652e-01, -3.52905262e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.41106398e-02,  5.68179738e+00,  1.00000000e+00,
         1.00000000e+00],
       [-5.51760285e-01, -2.87169016e-02,  1.00000000e+00,
         1.00000000e+00],
       [-1.31958819e+00,  1.73593558e+00,  1.00000000e+00,
         1.00000000e+00],
       [-2.95817652e-01, -2.87357577e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 8.55924198e-01,  4.19027533e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 4.08024590e-01, -9.34313224e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.12763121e+00,  1.94814621e+00,  1.00000000e+00,
         1.00000000e+00],
       [-3.98750185e-02, -6.89984230e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 4.08024590e-01, -6.89984230e-01,  1.00000000e+00,
         1.00000000e+00],
       [-7.43717260e-01, -3.85624044e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 7.91938540e-01, -3.52905262e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.06364555e+00, -9.34313224e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.52081957e-01,  1.94814621e+00,  1.00000000e+00,
         1.00000000e+00],
       [-5.51760285e-01, -8.96951044e-01,  1.00000000e+00,
         1.00000000e+00],
       [-5.51760285e-01, -3.38484771e-01,  1.00000000e+00,
         1.00000000e+00],
       [-4.23788969e-01,  1.73593558e+00,  1.00000000e+00,
         1.00000000e+00],
       [-3.98750185e-02,  5.68179738e+00,  1.00000000e+00,
         1.00000000e+00],
       [ 2.41106398e-02, -9.14195718e-04,  1.00000000e+00,
         1.00000000e+00],
       [-9.35674235e-01,  2.40501357e+00,  1.00000000e+00,
         1.00000000e+00],
       [ 2.19962302e+00, -1.03824061e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.06364555e+00, -3.38484771e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.89545911e+00, -8.71059709e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.67846335e-01,  9.93737617e-02,  1.00000000e+00,
         1.00000000e+00],
       [ 2.41106398e-02,  5.38543249e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 9.83895515e-01, -1.26039698e-02,  1.00000000e+00,
         1.00000000e+00],
       [ 1.36780947e+00, -8.96951044e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 4.72010248e-01,  1.73593558e+00,  1.00000000e+00,
         1.00000000e+00],
       [-1.19161687e+00, -2.87357577e-01,  1.00000000e+00,
         1.00000000e+00],
       [-4.23788969e-01, -6.41315074e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 6.63967223e-01,  3.67414220e-03,  1.00000000e+00,
         1.00000000e+00],
       [ 8.55924198e-01, -6.94681377e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.57553082e+00,  5.38543249e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.16067615e-01, -1.03460118e+00,  1.00000000e+00,
         0.00000000e+00],
       [-1.67846335e-01, -3.38484771e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.04788117e+00,  1.91140520e-01,  1.00000000e+00,
         1.00000000e+00],
       [-5.51760285e-01, -8.71059709e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 2.16067615e-01,  5.55656222e-02,  1.00000000e+00,
         1.00000000e+00],
       [-1.25560253e+00, -5.18085427e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 9.83895515e-01, -6.86542977e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 7.91938540e-01, -6.94681377e-01,  1.00000000e+00,
         1.00000000e+00],
       [-2.95817652e-01, -3.72624627e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 7.27952882e-01, -3.45639957e-01,  1.00000000e+00,
         1.00000000e+00],
       [-1.67846335e-01, -9.69053497e-01,  1.00000000e+00,
         1.00000000e+00],
       [ 1.30382381e+00,  5.55656222e-02,  1.00000000e+00,
         1.00000000e+00],
       [-1.06364555e+00, -6.41315074e-01,  1.00000000e+00,
         1.00000000e+00],
       [-6.15745944e-01, -6.41315074e-01,  1.00000000e+00,
         1.00000000e+00]])

In [180]:
pipeline.fit_transform(numerical_features).shape

(182, 4)